################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorkerService/obj
/WorkerService/bin/Debug/netcoreapp3.1
/WebhookServices/obj
/WebhookServices/bin/Debug/netcoreapp3.1
/WebhookCore/obj
/WebhookCore/bin/Debug/netcoreapp3.1
/WebAPI/obj
/WebAPI/bin/Debug/netcoreapp3.1
/VendorServices/obj
/VendorServices/bin/Debug/netcoreapp3.1
/VendorCore/obj
/VendorCore/bin/Debug/netcoreapp3.1
/UtilitiesServices/obj
/UtilitiesServices/bin/Debug/netcoreapp3.1
/UtilitiesHelpers/obj
/UtilitiesHelpers/bin/Debug/netcoreapp3.1
/UtilitiesCore/obj
/UtilitiesCore/bin/Debug/netcoreapp3.1
/ServiceProviderServices/obj
/ServiceProviderServices/bin/Debug/netcoreapp3.1
/ServiceProviderCore/obj
/DB_TestServices/obj
/DB_TestServices/bin/Debug/netcoreapp3.1
/DB_TestCore/obj
/DB_TestCore/bin/Debug/netcoreapp3.1
/CustomerServices/obj
/CustomerServices/bin/Debug/netcoreapp3.1
/CustomerCore/obj
/CustomerCore/bin/Debug/netcoreapp3.1
/ConsoleApp/obj
/ConsoleApp/bin/Debug/netcoreapp3.1
/BusinessBServices/obj
/BusinessBServices/bin/Debug/netcoreapp3.1
/BusinessBCore/obj
/BusinessBCore/bin/Debug/netcoreapp3.1
/BusinessAServices/obj
/BusinessAServices/bin/Debug/netcoreapp3.1
/BusinessACore/obj
/BusinessACore/bin/Debug/netcoreapp3.1
/.vs
